<footer class="footer">
        <p> <span class="powered-by">Powered by</span> <span class="powered-by niit-mts">NIIT EASE</span> <span class="powered-by">Platform</span> <span style="float:right;padding-right:30px;"></p>
		</footer>

