<div class="navbar-default sidebar sidebar1" role="navigation">
    <div class="sidebar1-nav navbar-collapse">
        <ul class="nav collapse in" id="side-menu">
			<li>
				  <a href="/report/botreport"><i class="fa fa-dashboard fa-fw"></i> Bot Report</a> 
				</li>
            
    </ul>
  </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->


