<!-- Modal Box -->
<div id="myModalAlert" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <span type="button" class="close" data-dismiss="modal">&times;</span>
        <h4 class="modal-title">Message</h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
    </div>

  </div>
</div>


<!-- Message Box -->
<div class="row messageBoxRow">
	<div id="messageBox" class="alert alert-danger hidden" id="messageBoxDiv">
	  <strong></strong> Please select the correct filter.
	</div>
</div>